*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
#test-container{
    width: 30%;
    height: 72vh;
    border: 3px solid gray;
    margin-left: 20%;
    margin-top: 5%;
}
.img-1{
    margin: 2%;
    border:2px solid rgb(255, 0, 0);
    width: 15%;
    height:10vh;
    border-radius: 100px 100px;
}
.img-1 img{
    border-radius: 100px 100px;
    
    
}
.header{
    display: flex;
   
}

.fa-ellipsis{
    padding-left: 170px;
   padding-top: 30px;
}

#name h3,p{
    padding-left: 7px;
    padding-top: 3px;
    
}
#logo{
    padding-left: 280px;
    padding-top: 10px;
}
.color{
    color:gray;
    padding-left: 20px;
}
.color-1{
    color:gray;
    padding-bottom: 5px;
    font-size: 10px;

}
.foot{
    display: flex;
}
.post-1{
    padding-left: 230px;
}
#smile{
    padding-top: 7px;
    padding-left: 10px;
}
.like-3{
    padding-left: 10px;
}
#heart-1 ,#heart-2{
    padding-left: 10px;
}
